@{
    ViewBag.Title = "Mesajlar";
}
 
@{
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
    grid.Pager(WebGridPagerModes.All);
}

<div id="content">

@using (Html.BeginForm("ContactShow", "Create"))
{
    <div class="sutun17">
    @grid.GetHtml(
    tableStyle:"webgrid-table",
    headerStyle:"webgrid-header",
    footerStyle:"webgridfooter",
    alternatingRowStyle:"webgrid-alternating-row",
    rowStyle:"webgrid-row-style",
    columns: grid.Columns(
    grid.Column(columnName:"Ad", header: "Ad"),
    grid.Column(columnName:"Soyad", header:"Soyad"),
    grid.Column(columnName:"Telefon", header:"Telefon"),
    grid.Column(columnName:"Email", header:"Email"),
    grid.Column(columnName:"Mesaj1", header:"Mesaj"),
    grid.Column(format: @<text> @Html.ActionLink("Sil", "Delete1", new { id = item.ID }) </text>)
    ))        
        </div>       
}

        <div class="sutun5">
<div>
    @Html.ActionLink("Geri Dön", "Create") || @Html.ActionLink("Çıkış Yap", "List")
</div>
    </div>
</div>