@model StajProje3.Models.AdminEkranı

@{
    ViewBag.Title = "İlan Silme";
}

<h2>Silmek istediğinize emin misiniz?</h2>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Sil" /> |
        @Html.ActionLink("Kayıtlara Geri Dön", "Index")
    </p>
}
